.summary {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 0;
}

.summary h2 {
  font-size: 1rem;
  margin: 1rem 0
}

.summary h3 {
font-size: 2rem;
margin: 1rem 0
}

.left-div {
  text-align: left;
  width: 40%;
  padding-left: 5%;
  margin-top: 1rem;
}

.right-div {
  text-align: right;
  width: 40%;
  padding-right: 5%;
}

.right-div p {
  text-align: justify;
}
